body {
    margin: 10px;
    padding: 30px;    
    max-width: 960px;
    background-color: #cccccc;
    /*display:block;*/
}
#str_label {
    border: 3px #9e9ee8;
    padding: 0 10px;
}

#resume{
    font-size: larger;
    color: blue;
}
p{
    font-size: larger;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    background: rgba(240, 240, 240, 0.69);
    margin: -50px 0 0 -100px;
}

#resume_div {
    height: 200px;
}

#bt{
    margin: 2%;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.4);
    z-index: 1;
}

.modal-content {
    max-width: 960px;
    background-color: rgba(240, 240, 240, 0.69);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.modal-header {
    background-color: rgba(240, 240, 240, 0.69);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

.modal-body {
    background-color: rgba(240, 240, 240, 0.69);
    padding: 10px;
    font-size: 1.2em;
}

.modal-footer {
    background-color: rgba(240, 240, 240, 0.69);
    padding: 10px;
    text-align: center;
}

.modal-button {
    background-color: #4CAF50;
    border: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdownmenu ul, .dropdownmenu li {
    margin: 0;
    padding: 0;
}
.dropdownmenu ul {
    background: #f1ebeb;
    list-style: none;
    width: 100%;
}
.dropdownmenu li {
    /*float: left;*/
    position: relative;
    width:auto;
    display: inline-block;
    vertical-align: top;

}
.dropdownmenu a {
    background: #30A6E6;
    color: #FFFFFF;
    display: block;
    font: bold 12px/20px sans-serif;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.dropdownmenu li:hover a {
    background: #000000;
}
#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu {
    opacity: 1;
    top: 40px;	/* adjust this as per top nav padding top & bottom comes */
    visibility: visible;
}
#submenu li {
    float: none;
    width: 100%;
}
#submenu a:hover {
    background: #DF4B05;
}
#submenu a {
    background-color:#000000;
}


